* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-100: #F1E9C9;
  --yellow-300: #DBAC2C;
  --yellow-700: #C47F17;

  --purple-100: #EBE5F9;
  --purple-300: #8047F8;
  --purple-700: #4B2995;

  --black-100: #8D8686;
  --black-300: #574F4D;
  --black-700: #403937;
  --black-900: #272221;

  --gray-100: #F3F2F2;
  --gray-300: #EDEDED;
  --gray-700: #E6E5E5;
  --gray-900: #D7D5D5;

  --white-100: #FFFFFF;
  --white-300: #FAFAFA;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}