.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userInfo > span {
  background-color: var(--purple-100);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  color: var(--purple-700);
}